
# Binaries and local libs
# Build artifacts
# Large model files
# Local env
# Logs
*$py.class
*.egg-info/
*.log
*.py[cod]
.DS_Store
.coverage
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
bin/
build/
dist/
gpu_libs/
gtp_logs/
models/*.bin.gz
models/*.gz
requirements.snapshot.txt
